* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}

:root {
  --primary-500: #67B439;
  --primary-600: #559630;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-size: 14px;
  font-weight: 400;
  min-height: 35rem;
}

.auth-conatiner {
  display: flex;
  width: 100%;
  height: 100%;
}

.auth-banner {
  position: relative;
  background-image: url('../img/banner.jpg');
  background-position: center;
  background-size: cover;
  max-width: 34rem;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.auth-banner::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.auth-banner .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: #fff;
  z-index: 1;
}

.auth-banner .content h2 {
  font-size: 1.75rem;
  font-weight: 400;
}

.auth-banner .content span {
  font-size: 12px;
  margin-bottom: 1rem;
}

.btn-auth {
  border: none;
  cursor: pointer;
  text-decoration: none;
  border-radius: 4px;
  padding: 0.875rem 2.5rem;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
  background-color: var(--primary-500);
}

.btn-auth:hover {
  background-color: var(--primary-600);
}

.auth-content {
  width: 100%;
  display: grid;
  place-items: center;
  position: relative;
  padding: 0 3rem;
}

.auth-form {
  max-width: 30rem;
  width: 100%;
}

.form-header i {
  font-size: 4rem;
  margin-left: -1rem;
  color: var(--primary-500);
}

.form-header h2 {
  font-size: 1.75rem;
  color: #0F1829;
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.form-gorup {
  position: relative;
  margin-bottom: 1.5rem;
}

.form-gorup label {
  color: #B6B8C1;
  display: block;
}

.form-gorup input {
  width: 100%;
  height: 2rem;
  color: #0F1829;
  border-width: 0 0 1px 0;
  border-color: #DFE0E4;
  caret-color: var(--primary-500);
  outline: none;
  box-shadow: none;
  transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
}

.form-gorup input:focus {
  border-color: var(--primary-500);
  box-shadow: 0 1px 0 0 var(--primary-500);
}

.form-gorup.form-password-toggle input {
  padding-right: 2.25rem;
}

.form-gorup.form-password-toggle input[type=password]::-ms-reveal,
.form-gorup.form-password-toggle input[type=password]::-ms-clear {
  display: none;
}

.form-gorup.form-password-toggle i {
  user-select: none;
  cursor: pointer;
  position: absolute;
  bottom: 0.25rem;
  right: 0.5rem;
  color: #B6B8C1;
  font-size: 1.25rem;
}

.form-check-forgot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.form-check-forgot .form-check label {
  color: #0F1829;
  font-weight: 500;
}

.form-check-forgot .form-check input[type="checkbox"] {
  position: relative;
  width: 1rem;
  height: 1rem;
  background-color: #fff;
  border: 2px solid #DFE0E4;
  border-radius: 2px;
  appearance: none;
  margin-right: 0.25rem;
}

.form-check-forgot .form-check input[type="checkbox"]:checked {
  border-color: var(--primary-500);
  background-color: var(--primary-500);
}

.form-check-forgot .form-check input[type="checkbox"]::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3px;
  height: 8px;
  border: 2px solid #fff;
  border-left: none;
  border-top: none;
  transform: translate(-50%, -55%) rotate(45deg) scale(1);
}

.form-check-forgot .form-check,
.form-check-forgot .form-forgot {
  display: flex;
  align-items: center;
  font-size: 12px;
}

.form-check-forgot .form-forgot i {
  font-size: 1rem;
  color: #B6B8C1;
  margin-right: 0.25rem;
}

.form-check-forgot .form-forgot a {
  text-decoration: none;
  color: var(--primary-500);
  font-weight: 500;
}

.form-check-forgot .form-forgot a:hover {
  text-decoration: underline;
}

.auth-footer {
  position: absolute;
  bottom: 2rem;
  width: 100%;
  font-size: 12px;
  padding: 0 3rem;
  display: flex;
  justify-content: space-between;
}

.auth-footer span,
.auth-footer a {
  color: #B6B8C1;
}

.auth-footer div {
  display: flex;
  gap: 0.5rem;
}

@media(max-width: 960px) {
  .auth-banner {
    max-width: 22rem;
  }
}

@media(max-width: 800px) {
  .auth-banner {
    display: none;
  }

  .auth-content,
  .auth-footer {
    padding: 0 1.5rem;
  }

  .auth-form {
    margin-top: -3rem;
  }

  .auth-form .btn-auth {
    width: 100%;
  }

  .auth-footer {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}